In [66]:
100

100

In [67]:
s='Hactiv8'

In [68]:
!python --version

Python 3.8.5

In [69]:
!python --version

Python 3.8.5

In [70]:
!python --version

Python 3.8.5

In [71]:
print(999)

999

In [72]:
type(999)

int

In [73]:
type(3.14)

float

In [74]:
type(1.0)

float

In [75]:
type(1.),print(1.)

1.0

(float, None)

In [76]:
type(1.)
print(1.)

1.0

In [77]:
print(1.)
type(1.)

1.0

float

In [78]:
123456

123456

In [79]:
print(123456)

123456

In [80]:
print("hactiv8")
print('hactiv8')

hactiv8
hactiv8

In [81]:
print("hactiv8")
print('hactiv8')
print('''hactiv8''')

hactiv8
hactiv8
hactiv8

In [82]:
print("yo'sua")

yo'sua

In [83]:
print("""
"I am attending Ha'tiv8"
""")

"I am attending Ha'tiv8"

In [84]:
print(''\"I am attending Ha'tiv8",He said\'')

SyntaxError: unexpected character after line continuation character (<ipython-input-84-6e7b08d48c9d>, line 1)

In [ ]:
print('''\"I am attending Ha'tiv8",He said.\''')

In [ ]:
print("---
     I am attending Ha'tiv8
      ---"""""")

In [ ]:
print("""---
I am Ha'tiv8,
"I am attending hactiv8"
---""")

In [ ]:
12345*10

In [ ]:
print(12345*10)

In [ ]:
print(12345)*10

In [ ]:
'hactiv8'

In [85]:
type(100), type(100.), type('100')

(int, float, str)

In [86]:
type(100), type(100.), type('100')

(int, float, str)

In [87]:
print(100), print(100.), print('100')

100
100.0
100

(None, None, None)

In [88]:
'pyton0530001'

'pyton0530001'

In [89]:
type(True), type(False)

(bool, bool)

In [90]:
int(10.23), float(), str(), bool()

(10, 0.0, '', False)

In [91]:
int(10.23), float(11), str(100), bool(0)

(10, 11.0, '100', False)

In [92]:
int(10.23), float(11), str(100), bool(23)

(10, 11.0, '100', True)

In [93]:
bool(0), bool(None), bool(-11), bool('hactiv8')

(False, False, True, True)

In [94]:
type(.42e7)

float

In [95]:
n = 1000
a=b=c=300
x=y=3.14

print(n, type(n))
print(a,b,c, type(a), type(b), type(c))
print(x, y, type(x), type(y))

1000 <class 'int'>
300 300 300 <class 'int'> <class 'int'> <class 'int'>
3.14 3.14 <class 'float'> <class 'float'>

In [108]:
B = "hactiv8"
n = int(n)

In [110]:
type(n)

int

In [98]:
print(n)

1000

In [109]:
print (a+b)
print (a*b)
print (a/b, type(a/b))
print (a-x)
print (a%b)
print (a**2)
print (n%23)

600
90000
1.0 <class 'float'>
296.86
0
90000
11

In [100]:
5/2

2.5

In [101]:
6%3

0

In [102]:
7%3

1

In [103]:
print(s)

Hactiv8

In [104]:
print(s * 3)

Hactiv8Hactiv8Hactiv8

In [105]:
print(s + str(3))

Hactiv83

In [106]:
print(s + str(3))

Hactiv83

In [1]:
book_title = "monty's python"
bootcamp_name = "hacktiv8"
password = 'mYnAMeISjoE'

print(book_title)
print(bootcamp_name)
print(book_title.title())
print(bootcamp_name.upper())
print(password.swapcase())
print(book_title.capitalize())

monty's python
hacktiv8
Monty'S Python
HACKTIV8
MyNamEisJOe
Monty's python

In [4]:
a = 10
b= 20

print (a==b) #validasi a apakah = b
print (a!=b) #tidak sama dengan
print (a<=b)
print (a>=b)

a=30
b=30
print (a==b)
print (a<=b)
print (a>=b)

False
True
True
False
True
True
True

In [7]:
# + Operators
s =  'foo'
t = 'bar'
u = 'baz'

print(s+t)
print(s+t+u)

print('Hacktiv8 ' + "PTP")

foobar
foobarbaz
Hacktiv8 PTP

In [9]:
# * Operators
s= 'hello..'
print (s*4)

hello..hello..hello..hello..

In [10]:
# in Operators
s = "foo"

print(s in "That food for us")
print(s in "That good for us")

True
False

In [1]:
# Case Conversion
s = 'HackTIV8'

In [5]:
print ("""'Whether you think you can, or you think you can't--you're right.'""")

'Whether you think you can, or you think you can't--you're right.'

In [22]:
names = ["Adit","Bagus","Yusuf","Ilham","Maria","Dita",53,0,3.14]
print(names, type(names))

['Adit', 'Bagus', 'Yusuf', 'Ilham', 'Maria', 'Dita', 53, 0, 3.14] <class 'list'>

In [30]:
others = ["Satya","Richard","Stefani","Timotius","Veronica","Viony","Yoga","Yoga"]
print(others)

['Satya', 'Richard', 'Stefani', 'Timotius', 'Veronica', 'Viony', 'Yoga', 'Yoga']

In [11]:
names == others

False

In [25]:
num_others = len(others)
num_names = len(names)
print("length others:", num_others)
print("length names:", num_names)

length others: 8
length names: 9

In [18]:
len([1,2,3,4,[1,2,3],5,6,7,True,False])

10

In [21]:
len([[1,2,3],
 [2,3],
 False,
True])

4

In [27]:
print("item 1 of names:", names[0])
print("item 2 of names:", names[1])
print("item 5 of names:", names[4])

item 1 of names: Adit
item 2 of names: Bagus
item 5 of names: Maria

In [39]:
print (names [0] == names [-len(names)])
print (names [0], names [-len(names)])
print (names [len(names)-1] == names [-1])
print (names [len(names)-1], names[-1])
print (names[-1], names[-2])

True
Adit Adit
True
3.14 3.14
3.14 0

In [44]:
print(others)
print(others[1:4], others[2:5], others[0:len(others)//2])

print(names)
print(names[1:4], names[2:5], names[0:len(names)//3])

['Satya', 'Richard', 'Stefani', 'Timotius', 'Veronica', 'Viony', 'Yoga', 'Yoga']
['Richard', 'Stefani', 'Timotius'] ['Stefani', 'Timotius', 'Veronica'] ['Satya', 'Richard', 'Stefani', 'Timotius']
['Adit', 'Bagus', 'Yusuf', 'Ilham', 'Maria', 'Dita', 53, 0, 3.14]
['Bagus', 'Yusuf', 'Ilham'] ['Yusuf', 'Ilham', 'Maria'] ['Adit', 'Bagus', 'Yusuf']

In [45]:
##TUPLES

In [54]:
batch = ("PYTN53","PYTN54",53,54)
batches = (("PYTN053ONL",53),("PYTN054ONL",54))

print(batch, len(batch), batch[0], type(batch))
print(batches, len(batches), batches[-1],type(batches))

('PYTN53', 'PYTN54', 53, 54) 4 PYTN53 <class 'tuple'>
(('PYTN053ONL', 53), ('PYTN054ONL', 54)) 2 ('PYTN054ONL', 54) <class 'tuple'>

In [55]:
batch[-1] = 100 #will throw error

TypeError: 'tuple' object does not support item assignment

In [61]:
a,b,c,d = batch
print(a)
print(b)
print(c)
print(d)

batch_name, batch_number = batches
print(batch_name)
print(batch_number)

name_1, _ = batches
print(name_1)
print(_)

PYTN53
PYTN54
53
54
('PYTN053ONL', 53)
('PYTN054ONL', 54)
('PYTN053ONL', 53)

In [63]:
profiles = {
    "names":["harry","owen","josthonk","dita"],
    "age":[23,11,33,23],
    "seratus":100
}

In [64]:
print (profiles)

{'names': ['harry', 'owen', 'josthonk', 'dita'], 'age': [23, 11, 33, 23], 'seratus': 100}

In [65]:
profiles["location"]=["jakarta","bandung","surabaya","medan"]

In [66]:
print(profiles)

{'names': ['harry', 'owen', 'josthonk', 'dita'], 'age': [23, 11, 33, 23], 'seratus': 100, 'location': ['jakarta', 'bandung', 'surabaya', 'medan']}

In [67]:
profiles

{'names': ['harry', 'owen', 'josthonk', 'dita'],
 'age': [23, 11, 33, 23],
 'seratus': 100,
 'location': ['jakarta', 'bandung', 'surabaya', 'medan']}